# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [25]:
data = (4,8,15,16,23,42)

In [26]:
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [28]:
type(pd.Series(data))

pandas.core.series.Series

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [19]:
l1 = [1,2,3,4,5,6,12,32,45,20]

In [20]:
pd.Series(l1)

0     1
1     2
2     3
3     4
4     5
5     6
6    12
7    32
8    45
9    20
dtype: int64

In [27]:
type(pd.Series(l1))

pandas.core.series.Series

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [29]:
data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
}

In [30]:
df= pd.DataFrame(data)

In [31]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Most common functions for data manipulation in pandas DataFrame are - 

- Head and tail function. These functions are used when we have to see the first 5 rows or the last 5 rows of our data frame.
- Describe. it is used to see the statistical summary of our data.
- isna .It is used to check if there is any null value in our dataframe.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- DataFrame is mutable in nature

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [32]:
student_names = ['Anurag','Ravi','Jassi']
marks = [20,18,16]

In [33]:
student_names_ser=pd.Series(student_names)
marks_ser = pd.Series(marks)

In [36]:
ser = {'Student_Names':student_names_ser,
      'Marks':marks_ser
}

In [35]:
df

{'Student_Names': 0    Anurag
 1      Ravi
 2     Jassi
 dtype: object,
 'Marks': 0    20
 1    18
 2    16
 dtype: int64}