# Q1. What is a database? Differentiate between SQL and NoSQL databases.

- Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

 - SQL databases are primarily called as Relational Databases (RDBMS), whereas NoSQL database are primarily called as non-relational or distributed database

- SQL databases defines and manipulates data based structured query language (SQL) , A NoSQL database has dynamic schema for unstructured data.

 - SQL requires you to use predefined schemas to determine the structure of your data before you work with it, NoSQL does not required any predefined schemas.

 - SQL databases are not suited for hierarchical data storage , NOSQL databases are best suited for hierarchical data storage.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 - DDL stands for Data definition language. Data Definition Language actually consists of the SQL commands that can be used to define the database schema.DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

 - CREATE - This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers). Eg - CREATE DATABASE test_db

- DROP - This command is used to delete objects from the database. Eg - DROP DATABASE test_db

- ALTER - This is used to alter the structure of the database. Eg- ALTER TABLE table_name

- TRUNCATE - This is used to remove all records from a table, including all spaces allocated for the records are removed. Eg - TRUNCATE TABLE Salary

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML stands for Data Manipulation Language. The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.

- INSERT - It is used to insert data into a table. Eg.  INSERT INTO table_name (column1, column2, column3, ...)

- UPDATE - It is used to update existing data within a table. Eg.  UPDATE table_name SET column_name = value [, column_name = value ...]

- DELETE - It is used to delete records from a database table. Eg. DELETE FROM table_name WHERE condition

# Q4. What is DQL? Explain SELECT with an example.

- DQL stands for Data Query Language. DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

- SELECT - It is used to retrieve data from the database. Eg. SELECT * from table_name;

# Q5. Explain Primary Key and Foreign Key

 - A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

- A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql connector

mydb = mysql.connector.connect(
 host = "localhost"
 username = "abc"
 password = "password"

)

mycursor = mydb.cursor()

mycursor.execute("select * from test2.test_table")
mydb.close()

- cursor is just like a pointer which go through the database and fetch the results
- execute will helps in executing the query

# Q7. Give the order of execution of SQL clauses in an SQL query.

- The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.